#**
  Template for the creation of JPA Entities. Expectes the following variables as inputs (see template_data for more):
    targetPackagePath: String; Path of the packge the file will be used
    entity: EntityModel; Model containing getMethods for the needed variables
    mtoAssociations: List<AssociationsModel>; List of "many-to-one" associations
    otmAssociations: List<AssociationsModel>; List of "one-to-many" associations

  @author Jonas Knebel
  @version 1 Initial creation of entity-base.vm with basic statements based on the expected results

  @author Tom Schmanke
  @version 2 Rework of entity template based on the given data structure. This mainly includes import statemens,
  loops, less template duplication, structure of variables and indentation

  @author Tom Schmanke
  @version 3 Transform controller template for abstract class based custom code saving
*#

package ${targetPackagePath};

import java.util.List;

import javax.persistence.CascadeType;
import javax.persistence.Entity;
import javax.persistence.FetchType;
import javax.persistence.GeneratedValue;
import javax.persistence.Id;
import javax.persistence.OneToMany;

import com.fasterxml.jackson.annotation.JsonIgnore;

public abstract class ${entity.getEntityName()}Base {

    @Id
    @GeneratedValue
    private int ${entity.getIdentificationVariable()}

    #foreach ($attributeModel in $entity.getSimpleAttributes())
    private ${attributeModel.getAttributeType()} ${attributeModel.getAttributeName()};

    #end
    #foreach ($mtoAssociation in $mtoAssociations)
    @ManyToOne
    @JoinColumn(name="${mtoAssociation.getFKKey()}")
    private ${mtoAssociation.getReferencedEntity()} ${mtoAssociation.getReferencedName()};

    #end
    #foreach ($otmAssociation in $otmAssociations)
    @OneToMany(fetch=FetchType.LAZY, cascade=CascadeType.ALL, mappedBy="${otmAssociation.getMappedByKey()}")
    @JsonIgnore
    private ${otmAssociation.getFKEntity()} ${otmAssociation.getFKName()};

    #end

    public ${entity.getEntityName()}() {

    }

    public ${entity.getEntityName()}(${entity.getAttributesForConstructorHeader()}) {
        ${entity.getAttributesForConstructorBody()}
    }


    #foreach($attributeModel in $entity.getAttributeDataModels())
        #parse("get-set.vm")

    #end
}
