#if($annotation)
    ${annotation}(${crudPath}${crudParameter})
#end
${privatePublic} ${returnType} ${methodName}(${methodParameters}) {
    #foreach( $statement in $allStatements )
        ${statement}
    #end
}
