#**
  Template for the creation of getter and setter methods for the entites.vm template. Expectes the following variables
  as inputs (see template_data for more):
    attributeModel: AttributeModel; Model containing getMethods for the needed variables

  @author Tom Schmanke
  @version 1.0 Initial creation of get-set-attr.vm to capsulate the slightly complexer logic to create the needed getter and
  setter for the entities.vm

  @author Laura Schmidt
  @version 2.0 remove multiplicity
*###
    public ${attributeModel.getAttributeType()} get${attributeModel.getAttributeName()}() {
        return this.${attributeModel.getAttributeNameCamelCase()};
    }

    public void set${attributeModel.getAttributeName()}(${attributeModel.getAttributeType()} ${attributeModel.getAttributeNameCamelCase()}) {
        this.${attributeModel.getAttributeNameCamelCase()} = ${attributeModel.getAttributeNameCamelCase()};
    }
