#**
  Template for the creation of getter and setter methods of ManyToOne associations for the entites.vm template.

  @author Laura Schmidt
  @version 1 add getter and setter template for ManyToOne associations
 *###
    public ${mtoAssociation.getReferencedEntity()}Base get${mtoAssociation.getReferencedName()}() {
        return this.${mtoAssociation.getReferencedNameCamelCase()};
    }

    public void set${mtoAssociation.getReferencedName()}(${mtoAssociation.getReferencedEntity()}Base ${mtoAssociation.getReferencedNameCamelCase()}) {
        this.${mtoAssociation.getReferencedNameCamelCase()} = ${mtoAssociation.getReferencedNameCamelCase()};
    }

