#**
 Template for the creation of getter and setter methods of OneToMany associations for the entites.vm template.

 @author Laura Schmidt
 @version 1 add getter and setter template for OneToMany associations
 *#
    public Collection<${otmAssociation.getFKEntity()}Impl> get${otmAssociation.getFKName()}() {
        return this.${otmAssociation.getFKNameSmall()};
    }

    public void set${otmAssociation.getFKName()}(Collection<${otmAssociation.getFKEntity()}Impl> ${otmAssociation.getFKNameSmall()}) {
        this.${otmAssociation.getFKNameSmall()} = ${otmAssociation.getFKNameSmall()};
    }
