#**
 Template for the creation of a basic application.properties

 @author Laura Schmidt
 @version 1 Initial creation of application.properties file
 *###
spring.application.name = ${artifactId}
server.port = 8080