#**
  Template for the creation of JPA Entities. Expectes the following variables as inputs (see template_data for more):
    targetPackagePath: String; Path of the packge the file will be used
    entity: EntityModel; Model containing getMethods for the needed variables

  @author Tom Schmanke
  @version 1.0 Initial creation for the implementation abstract class based custom code saving

  @author Tom Schmanke
  @version 2.0 Edit templates so that the final Spring application is runnable without errors

  @author Tom Schmanke
  @version 2.1 Add Lombok
*###
package ${targetPackagePath};

import jakarta.persistence.Entity;
import lombok.Data;

@Entity
@Data
public class ${entity.getEntityName()}Impl extends ${entity.getEntityName()}BaseGen {

    // YOUR CODE HERE

}
